.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Header and nav styling */
.header {
  width: 100%;
  background-color: black;
  margin-bottom: 20px;
  height: 52px;
  position: fixed;
  z-index: 1;
}

.navbar li {
  position: relative;
  display: inline;
  font-size: 18pt;
  float: right;
  margin: 10px;
}

.navbar a {
  text-decoration: none;
  color: red;
}

.navbar img {
  height: 50px;
}

.navpadding {
  height: 40px;
}

/* Content stylings */
h2, h3 {
  text-align: center;
}

p {
  font-size: 12pt;
}

.maincontent {
  background-color: #ffe5e5;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
  border-top: 2px solid red;
  text-align: center;
}

.membership,
.volunteer {
  position: relative;
  display: inline-block;
  width: 46%;
  height:675px;
  border: 5px solid red;
  margin: 20px;
  padding: 15px;
  padding-top: 0px;
  vertical-align: top;
}

.volunteer ul {
  list-style-type: none;
  font-size: 12pt;
}

.audition {
  background-color: #ffe5e5;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 15px;
  margin-bottom: 5px;
  border-top: 2px solid red;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}


/* Style show info */
.currentseason {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 31%;
  margin-right: 10px;
  margin-left: 10px;
}

.currentseason img {
  height: 400px;
  width: 300px;
  margin-bottom: 25px;
}

.tickets {
  position: relative;
  background-color: red;
  border-radius: 10%;
  height: 40px;
  width: 100px;
  padding-top: 10px;
  margin-left: 250px;
  margin-bottom: -25px;
}

.tickets a {
  color: white;
  font-weight: bold;
}


/* Style show details */
.showdetails {
  vertical-align: top;
}

.summary {
  text-align: justify;
}

/* Center map */
.mapcontainer {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.contactinfo {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 15px;
}

/* Center calendar */
.calendarcontainer {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* Style slideshow */
.slideshow {
  position: relative;
  text-align: center;
  background-color: black;

}

.slideshow img {
  height: 500px;
  width: 900px;
  padding: 10px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
/*  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

}
