<div class="container">
    <h2>Current Season</h2>

  <div class="currentseason" ng-repeat="show in shows">
    <show-info info="show"></show-info>
  </div>

  <div class="maincontent">
  	<div class="intro">
  		<h3>About Clayton Community Theatre<h3>
  		<p>The Clayton Community Theatre was founded in 1998 at the invitation of the Clayton School District to serve as the resident community theatre company at Clayton High School. CCT’s purpose then, as now, was to provide a vehicle for all members of our community to be involved in the production of top quality live theatre. Through its three annual productions and through its program of community outreach, CCT has involved hundreds of individuals in productions that have played to consistently enthusiastic reviews and crowded houses.</p>
  		<p>CCT believes that our successful history as a theatre company has proven that there is an important place in our community for a volunteer theatre company that is open to all and driven by a commitment to excellence.</p>
      <p>The Clayton Community Theatre was founded by a group of Clayton residents interested in expanding access to the performing arts through community theatre. The organization’s motto is “Places everyone,” the announcement traditionally made by the stage manager a few moments prior to curtain to call the actors and crew to readiness. The motto reflects the goals of Clayton Community Theatre, which are: to offer Clayton and surrounding communities top-quality theatrical entertainment; to showcase local talent; and to provide any interested member of our community the opportunity to become involved in theatre production. We are a volunteer-driven organization and welcome all theatre lovers interested in assisting in our productions.</p>
      <p>Clayton Community Theatre derives revenue primarily from ticket sales, with additional support from program advertising, contributions, sponsorships and grants.</p>
  	</div>
  	<div class="venue">
  		<h3>Our Theater<h3>
  		<p>In the fall of 2006, CCT began operations in our new home on the campus of Concordia Seminary in Clayton (the former CBC High School building). In the fall of 2007 this property was purchased by Washington University in St. Louis, and is now known as the Washington University South Campus. The theatre is an outstanding 210-seat venue with handicap accessibility, elevators, and a lighted parking lot. CCT operates on the Washington University campus as an independent community theatre company and is not affiliated with the Washington University Performing Arts Department.</p>
  	</div>
  </div>

  <div class="slideshow">
      <photo photos="photos1"></photo>
  </div>

  <div class="participate">

    <div class="membership">
      <h3>Membership</h3>
        <p>As is true of most nonprofit theatre companies, Clayton Community Theatre depends on the generosity of its supporters to bridge the financial gap between ticket revenue and production costs.  Donors are recognized as “members” in every program, at varying levels depending on their level of support, and receive varying benefits for their membership. Membership is available at several levels:</p>

        <p><strong>Member: $20</strong> Does not include season tickets but includes acknowledgement in the program.</p>

        <p><strong>Subscriber: $45</strong> ($35 for students and seniors).  Includes one season ticket to all three plays and acknowledgement in the program.</p>

        <p><strong>Supporter: $150</strong> Includes two season tickets to all three plays, acknowledgement in the program, reserved seating with advance reservation, and two complimentary beverages per production.</p>

        <p><strong>Patron: $250</strong> Includes two season tickets to all three plays, acknowledgement in the program and on on-site donor recognition signage, reserved seating with advance reservation, and two complimentary beverages per production.</p>

        <p><strong>Sponsor: $500</strong> Includes two season tickets to all three plays, acknowledgement in the program and on on-site donor recognition signage, reserved seating with advance reservation, unlimited complimentary beverages, and a pre-show meeting with the cast and director on request for each production.</p>

        <p>Membership can be purchased online <a href="http://cct20152016.brownpapertickets.com/">here</a>. You may also print this <a href="images/SubscriberForm2015-2016.pdf">form</a> and mail in with payment.</p>
    </div>

    <div class="volunteer">
      <h3>Volunteer Opportunities</h3>
        <p>Sign up now to usher or work concessions for our production of The Women.  All volunteers will be allowed to stay and see the show on the night that they work.  CCT is an entirely volunteer run organization and this is a great opportunity to help us out and see a terrific show.</p>  
        <p>To sign up through Sign Up Genius, <a href="http://www.signupgenius.com/go/4090b4fada829a13-ccts2">here!</a></p> 
     
        <p>Want to be an active member of Clayton Community Theatre?</p>  
        <p>Want to learn more about the behind-the-scenes work of live theatre?</p>  
        <p>We are always looking for volunteers who bring a fresh sense of creativity and passion to their work.</p>
     
        <p>We love to meet new faces in the following areas:</p>
     
        <ul>
          <li>Publicity</li>
          <li>Stage Management</li>
          <li>Set Design/Set Construction</li>
          <li>Lighting and Sound Systems</li>
          <li>Costumes</li>
          <li>Makeup/Hair</li>
          <li>Hospitality</li>
          <li>Box Office/Ushering</li>
        </ul>
        <p>If you would like to be a part of our wonderful community, we would love to have you! To volunteer in any capacity, please contact <a href="mailto:cct@placeseveryone.org">Marilyn Albert-Hack</a>, CCT President.</p>
    </div>

  </div>

  <div class="audition">
      <h2>Auditions</h2>
        <p>Please complete this <a href="images/AuditionForm2.pdf">form</a> and bring it with you to the auditions.</p>
        <p>Clayton Community Theatre announces open auditions for Inherit the Wind, by Jerome Lawrence and Robert Edwin Lee, directed by Mark A. Neels.</p>

        <p>Auditions: Wednesday February 24 at 6:00 p.m. and Saturday February 27 at 10:00 a.m.</p>

        <p>First rehearsal: April 13 at 7:00 p.m.</p>

        <p>Performances: June 9, 10, 11, 12, 17, 18, 19, 24, 25, and 26, 2016.</p>

        <p>We are seeking actors ages 10 and up. Children will be auditioned first-thing, and are encouraged to arrive as close to the start as possible.</p>

        <p>The auditions will consist of cold readings from the script (sides available at the auditions), and will be held at the theatre: Washington University South Campus Theatre (the old CBC High School building), 6501 Clayton Rd, Clayton MO 63117. Auditioners are encouraged to download the audition form (above) and fill it out in advance.</p>
        
        <p>Synopsis:</p>

        <p>This play fictionalizes the 1925 Scopes "Monkey" Trial which resulted in John T. Scopes's conviction for teaching Charles Darwin's theory of evolution to a high school science class, contrary to a Tennessee state law. The theme of intellectual freedom explored in the play applies to many other ideological debates, such as the McCarthy trials that were going on at the time it was written in 1955. According to the playwright, “We used the teaching of evolution as a parable, a metaphor for any kind of mind control…. It's not about science versus religion. It's about the right to think.”</p>

        <p>Primary characters:</p>
          <ul>
            <li><strong>Matthew Harrison Brady</strong>, a three-time presidential candidate and nationally known attorney. He is a dynamic public speaker, even though he is in his late 60s or early 70s. He believes the Bible is the word of God, and that every word of it is absolute truth.</li>
            <li><strong>Henry Drummond</strong>, another nationally known Chicago attorney who was once Brady's closest friend and political confidante. He is about the same age as Brady. Drummond is an agnostic, and while he does not discount the important lessons to be learned from biblical scriptures, he also wants them to be read and weighed alongside other books. Above all, Drummond puts his faith in the power of the human mind to think and reason.</li>
            <li><strong>Bertram "Bert" Cates</strong>, a Hillsboro high school teacher in his 20s who has taught the theory of evolution in violation of a state law banning its teaching in classrooms. He has a particular axe to grind with Reverend Brown's fire-and-brimstone preaching.</li>
            <li><strong>E. K. Hornbeck</strong>, a reporter for the fictional Baltimore Herald newspaper. He is young, sarcastic, cynical, and deeply opposed to religious belief. May be cast as a woman.</li>
            <li><strong>Rachel Brown</strong>, the Reverend Brown's daughter. She is 22 and the romantic interest of Bertram Cates. Her loyalties are torn between her father and Cates, and she is easily manipulated by others.</li>
            <li><strong>Reverend Jeremiah Brown</strong>, Christian fundamentalist preacher of indeterminate denomination who believes in the literal interpretation of the Bible.</li>
            <li><strong>Mrs. Brady</strong>, wife of Matthew Harrison Brady. A kind, and gentle woman, she is more concerned for her husband's health and well-being than she is for her husband's cause.</li>
          </ul>
        
        <p>Secondary characters:</p>
          <ul>
            <li><strong>The Judge</strong>, subtly sympathetic to Rev. Brown's views.</li>
            <li><strong>Howard Blair</strong>, a 13-year-old high school student who was in Bertram Cates' class.</li>
            <li><strong>Melinda Loomis</strong>, a 12-year-old girl who believes strongly in the Bible.</li>
            <li><strong>Tom Davenport</strong>, the local district attorney who prosecutes Bertram Cates with Brady's assistance.</li>
            <li><strong>The Mayor</strong>, the top elected official of Hillsboro who is openly supportive of the Rev. Brown but also deeply political and concerned about the economic future of his town.</li>
          </ul>
          <p>There are also a number of minor speaking roles including <strong>Meeker</strong>, a bailiff at the Hillsboro courthouse; <strong>Mrs. Krebs</strong>, a loudly outspoken supporter of Rev. Brown and leader of the Ladies' Aid Society; <strong>Mr. Bannister</strong>, a local citizen; <strong>Elijah</strong>, an illiterate man from the nearby woods who sells Bibles to the crowd; <strong>Harry Esterbrook</strong>, a radio reporter from Chicago; <strong>Jesse Dunlap</strong>, a local farmer; <strong>George Sillers</strong>, an employee at the feed store; and the <strong>Storekeeper</strong>, Sillers' employer.</p>
    </div>

  <div class="slideshow">
      <photo photos="photos2"></photo>
  </div>

</div>
