<h2>Map and Contact Info</h2>
<div class="mapcontainer">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3116.6211422066913!2d-90.31465968544033!3d38.634595869998535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d8cabc3c972ea5%3A0x947288b4b638e462!2sClayton+Community+Theatre!5e0!3m2!1sen!2sus!4v1453920748076" width="800" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<div class="contactinfo">
	<p><strong>For general questions:</strong></p>
	<p><strong>By Phone</strong> 314-721-9CCT (314-721-9228)</p>
	<p><strong>By Mail</strong> P.O. Box 50035, Clayton, MO 63105</p>
	<p><strong>By Email</strong> <a href="mailto:cct@placeseveryone.org">cct@placeseveryone.org</a></p>

	<p>To obtain Media Information, contact <a href="mailto:media@placeseveryone.org">Nathan Schroeder</a>, CCT Media Relations.</p>

	<p>To obtain Complimentary Press Tickets, contact <a href="mailto:tickets@placeseveryone.org">Ellen Schroeder</a>, Ticket Sales Representative.</p> 

	<p>To help with CCT’s Fund Raising activities, contact <a href="mailto:fundraising@placeseveryone.org">Nada Vaughn</a>, Fundraising Coordinator.</p>

	<p>To submit ideas or join the Play Selection Committee, contact <a href="mailto:playselection@placeseveryone.org">Joe Wegescheide</a>, Play Selection Chairman.</p>

	<p>To Volunteer in any capacity, contact <a href="mailto:cct@placeseveryone.org">Marilyn Albert-Hack</a>, CCT President.</p> 

	<p>To Place an Ad in CCT’s Program, contact <a href="mailto:program@placeseveryone.org">Ellen Schroeder</a>, Program Specialist.</p>

	<p>To get info on Group Sales, contact <a href="mailto:tickets@placeseveryone.org">Ellen Schroeder</a>, Ticket Sales Representative.</p>
</div>
