<!-- Brown Paper Tickets link -->
<div class="tickets" ng-if="info.onsale">
	<a href="http://www.brownpapertickets.com/producer/6493">Tickets!</a>
</div>
<!-- Poster image -->
<a href ng-click="show = !show" ng-hide="show"><img src="{{ info.icon }}"/></a>

<!-- Main info -->
<div><a href ng-click="show = !show"><strong>{{ info.name }}</strong></a></div>
<div>by {{ info.author }}</div>
<div>{{ info.dates }}</div>

<!-- Hidden info -->
<div class="showdetails" ng-show="show">
	<div>Directed by {{ info.director }}</div>
	</br>
	<div class="summary">{{ info.summary }}</div>
</div>
